{% block content %}
<div class="feed-post create-new">
    <a href="/"><img src="../../../static/images/unknown_user.png" class="profile-img" /></a>
    <form class="post-content" onsubmit="submitPost(event)" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" id="create-post-text" class="form-control" placeholder="What's happening?" aria-label="What's happening?" name="status">
        <div class="hide" id="image-preview-container">
            <img id="image-preview" src="#" alt="preview">
            <button type="button" onclick="removePhoto()"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="post-btn-wrap">
            <!-- <label for="publicity-items"><i class="fa-solid fa-eye"></i>Publicity</label> -->
            <!-- Make the drop down menu styled like the buttons but clear that it is a drop down for selecting publicity -->
            <div class="select-wrap">
                <select type="button" class="form-select btn" name="publicity-items" id="publicity-drop-down" placeholder="Publicity" aria-label="Public">
                    <option value="public">Public</option>
                    <option value="friends">Friends</option>
                    <option value="private">Private</option>
                </select>
            </div>
            <div>
                <label id="photo-attach-container" class="btn btn-photo" for="photo-attachment" style="width: 100%;"><i class="fa-solid fa-image"></i>Photo</label>
                <input type="file" id="photo-attachment" style="display:none" name="photo-attachment" accept="image/*">
            </div>
            <button type="submit" class="btn btn-post"><i class="fa-solid fa-paper-plane"></i>Post</button>
        </div>
    </form>
</div>

<script>
    photoAttachment = document.getElementById("photo-attachment")

    function submitPost(e) {
        e.preventDefault()

        text = document.getElementById("create-post-text")
        publicity = document.getElementById("publicity-drop-down")

        var formData = new FormData()
        formData.append('text', text.value)
        formData.append('publicity', publicity.value)
        formData.append('image', photoAttachment.files[0])

        var csrf_token = "{{ csrf_token }}";
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
        $.ajax({
            type: "POST",
            url: "/api/make-post/",
            data: formData,
            contentType: false,
            processData: false,
            success: function (response, textStatus, http) {
                if (http.status === 201) {
                    text.value = ""                   
                    // Reset the publicity drop down to public to fix the bug where it would reset to nothing
                    $('#publicity-drop-down').val('public')
                    // $("#image-preview").hide()
                    removePhoto()
                }
            },
            error: function (error) {
                console.error(error);
                // Instead of having the default html alert, maybe have a custom popup thats styled
                // and nice that displays detailed errors and potential fixes (the potential fixes will
                // have to be ironed out by the person who wrote the endpoint / model (RILEY))
                alert("There was an error making your post, please try again")
            }
        })
    }

    function setPublicity() {

    }

    photoAttachment.addEventListener('change', function () {
        loadPhoto(photoAttachment.files[0]);
        $(".feed-post.create-new").toggleClass("upload-img");
    })

    function loadPhoto(file) {
        var reader = new FileReader()

        reader.onload = function(e) {
            $("#image-preview").attr('src', e.target.result)
            $("#image-preview-container").removeClass("hide")
        }

        reader.readAsDataURL(file)
    }

    function removePhoto() {
        $("#image-preview-container").addClass("hide");
        $(".feed-post.create-new").removeClass("upload-img");
        photoAttachment.value = '';
    }

</script>
{% endblock content %}