<div class="feed-post create-new">
    <a href="/"><img src="../../../static/images/unknown_user.png" /></a>
    <form class="create-post">
        <input type="text" class="form-control" placeholder="What's happening?" aria-label="What's happening?" name="status">
        <div class="create-btn-wrap">
            <button type="button" class="btn"><i class="fa-solid fa-image"></i>Photo</button>
            <button type="submit" class="btn"><i class="fa-solid fa-paper-plane"></i>Post</button>
        </div>
    </form>
</div>