<div class="feed-post existing-post" id="post-block-{{ post.id }}" data-post-id="{{ post.id }}">
    <a href="/"><img src="../../../static/images/unknown_user.png" /></a>
    <div class="post-content">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <div class="post-body">
            <p id="post-username">{{ post.author.user }}</p>
            <time id="post-timestamp">{{ post.timestamp }}</time>
            <p id="post-content">{{ post.content }}</p>
        </div>
        <div class="flex-btn-wrap">
            <button type="button" class="btn btn-like"><i class="fa-solid fa-heart"></i>Like</button>
            <button type="submit" class="btn btn-share"><i class="fa-solid fa-share"></i>Share</button>
            <button type="button" class="btn btn-delete"><i class="fa-solid fa-delete-left"></i>Delete</button>
        </div>
    </div>
</div>