<div class="feed-post existing-post">
    <a href="/"><img src="../../../static/images/unknown_user.png" /></a>
    <div class="post-content">
        <div>
            <p>User Name</p>
            <time>Time Posted Here</time>
            <p>Post content goes in here</p>
        </div>
        <div class="post-btn-wrap">
            <button type="button" class="btn btn-like"><i class="fa-solid fa-heart"></i>Like</button>
            <button type="submit" class="btn btn-share"><i class="fa-solid fa-share"></i>Share</button>
        </div>
    </div>
</div>