<div id="find-author-bar">
    <h4 class="heading">Who to follow</h4>
    <div class="author-box"></div>
</div>

<script>
    var authorList = [];
    var authorCount = 0
    var followerData
    var followingStatus
    var authors = []
    const authorBox = document.querySelector('.author-box');

    var hosts = []

    async function getHosts() {
        await $.ajax({
            type: "GET",
            url: `/api/get-node-hosts/`,
            success: function (response, textStatus, http) {
                hosts = response
            },
            error: function (error) {
                console.error(error)
            }
        })
    }
    /*
        Builder function for author panels
    */
    function createAuthorPanel(followeeData, elementID, status) {
        const authorElem = document.createElement('div');
        authorElem.classList.add('author');
        authorElem.id = `author-panel-${elementID}`;

        var action;
        var text;
        if (status === 'friends') {
            action = 'unfollow';
            text = 'Friends';
        } else if (status === 'following') {
            action = 'unfollow';
            text = 'Following';
        } else if (status === 'requested') {
            action = 'unfollow';
            text = 'Requested';
        } else {
            action = 'request';
            text = 'Follow';
        };

        const userProfileImage = followeeData['profileImage'];

        if (userProfileImage !== null) {
                profileImage = userProfileImage;
        } else {
            profileImage = "../../../static/images/unknown_user.png";
        }

        authorElem.innerHTML = `<img src="${profileImage}" />
                                <div class="author-content">
                                    <div>
                                        <p class="author-username">${followeeData['displayName']}</p>
                                    </div>
                                    <button type="button" id="follow-${elementID}" class="btn-follow ${action}" onclick="followAuthor(event, '${elementID}')">${text}</button>
                                </div>`;
        return authorElem;
    }


    //Handle follow actions in the bar
    function followAuthor(e, id) {
        e.preventDefault();
        button = document.getElementById(`follow-${id}`);
        followee_id = authors[id]['id'].split('/').at(-1)
        // Not the most robust method but works well
        // Checks the class list on the action to complete
        if (button.classList.contains('request')) {
            // Send request
            creds = getAuth(window.location.href)
            $.ajax({
                type: "PUT",
                url: `/authors/${"{{ author.id }}"}/followers/${followee_id}`,
                contentType: 'application/json',
                data: JSON.stringify({
                    'follower_data': followerData,
                    'followee_data': authors[id]
                }),
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                beforeSend: function (request) {
                    request.withCredentials = true;
                    request.setRequestHeader(creds[0], creds[1]);
                },
                success: function (response, textStatus, http) {
                    button.innerText = 'Requested';
                    button.classList.remove("request");
                    button.classList.add("unfollow");
                    if (!(window.location.href.includes(getHostFromUrl(authors[id]['id'])))) {
                        creds = getAuth(getHostFromUrl(`${authors[id]['id']}/inbox`))
                        $.ajax({
                            type: "POST",
                            url: `${authors[id]['id']}/inbox`,
                            contentType: 'application/json',
                            data: JSON.stringify(response),
                            headers: { "X-CSRFToken": '{{csrf_token}}' },
                            beforeSend: function (request) {
                                request.withCredentials = true;
                                request.setRequestHeader(creds[0], creds[1]);
                            },
                            error: function(error) {
                                console.error(error)
                            }
                        })
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });

        } else if (button.classList.contains('unfollow')) {
            // Send request
            creds = getAuth(window.location.href)
            $.ajax({
                type: "DELETE",
                url: `/authors/${"{{ author.id }}"}/followers/${followee_id}`,
                contentType: 'application/json',
                data: JSON.stringify({
                    'follower_endpoint': followerData['id'],
                    'followee_endpoint': authors[id]['id']
                }),
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                beforeSend: function (request) {
                    request.withCredentials = true;
                    request.setRequestHeader(creds[0], creds[1]);
                },
                success: function (response, textStatus, http) {
                    button.innerText = 'Follow';
                    button.classList.remove("unfollow");
                    button.classList.add("request");
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    }

    async function getAuthorData2() {
        creds = getAuth(window.location.href)
        await $.ajax({
            type: "GET",
            url: `/authors/${"{{ author.id }}"}`,
            beforeSend: function (request) {
                request.withCredentials = true;
                request.setRequestHeader(creds[0], creds[1]);
            },
            success: function (response, textStatus, http) {
                followerData = response
            },
            error: function (error) {
                console.error(error)
            }
        })
    }

    async function getFollowingStatus() {
        creds = getAuth(window.location.href)
        await $.ajax({
            type: "GET",
            url: `/authors/${"{{ author.id }}"}/following`,
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            beforeSend: function (request) {
                request.withCredentials = true;
                request.setRequestHeader(creds[0], creds[1]);
            },
            success: function (response, textStatus, http) {
                followingStatus = response
            },
            error: function (error) {
                console.error(error)
            }
        })
    }

    async function addAuthor(followeeData) {
        var id = followeeData['id'].split("/").at(-1)

        //CHECK FOR STATUSES
        status = 'follow'
        for (const i in followingStatus) {
            if (followingStatus[i]['followee'] === followeeData['id']) {
                status = followingStatus[i]['status']
                break
            }
        }

        if (!authorList.includes(followeeData['id'])) {
            authorBox.appendChild(createAuthorPanel(followeeData, authorCount, status));
            authorList.push(followeeData['id']);
            authorCount = authorCount + 1
        } else {
            id = 0
            for (const i in authorList) {
                if (authorList[i] === followeeData['id']) {
                    id = i
                    break
                }
            }
            authorBox.replaceChild(createAuthorPanel(followeeData, id, status), document.getElementById(`author-panel-${id}`));
        }
    }

    async function updateAuthors() {
        await getHosts()
        await getAuthorData2()
        await getFollowingStatus()
        
        for (const host in hosts) {
            creds = getAuth(getHostFromUrl(`${hosts[host][0]}authors`))
            await $.ajax({
                type: "GET",
                url: `${hosts[host][0]}authors`,
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                beforeSend: function (request) {
                    request.withCredentials = true;
                    request.setRequestHeader(creds[0], creds[1]);
                },
                success: async function (response, textStatus, http) {
                    response = response["items"]
                    for (i in response) {
                        if (response[i]['id'] !== `${window.location.href}authors/${"{{ author.id }}"}`) {
                            var present = false
                            for (const index in authors) {
                                if (authors[index]['id'] === response[i]['id']) {
                                    authors[index] = response[i]
                                    await addAuthor(response[i])
                                    present = true
                                    break
                                }
                            }
                            if (!present) {
                                authors.push(response[i])
                                await addAuthor(response[i])
                            }
                        }
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    }

    updateAuthors();
    // Update interval
    setInterval(updateAuthors, 2000); //2 Second cooldown

    async function updateFollowing() {
        await getFollowingStatus()

        for (const i in followingStatus) {
            url = new URL(followingStatus[i]['followee'])
            if (!(window.location.href.includes(url.host))) {
                creds = getAuth(getHostFromUrl(`${followingStatus[i]['followee']}/followers/${"{{ author.id }}"}`))
                $.ajax({
                    type: "GET",
                    url: `${followingStatus[i]['followee']}/followers/${"{{ author.id }}"}`,
                    headers: { "X-CSRFToken": '{{csrf_token}}' },
                    beforeSend: function (request) {
                        request.withCredentials = true;
                        request.setRequestHeader(creds[0], creds[1]);
                    },
                    success: async function (response, textStatus, http) {
                        status = followingStatus[i]['status']
                        newStatus = 'none'
                        if (status === 'requested' && response === true) {
                            newStatus = 'accept'
                        } else if ((status === 'friends' || status === 'following') && response === false) {
                            newStatus = 'dismiss'
                        }
                        creds = getAuth(window.location.href)
                        $.ajax({
                            type: "POST",
                            url: `/authors/${"{{ author.id }}"}/followers/requests`,
                            contentType: 'application/json',
                            data: JSON.stringify({
                                'mode': 'update-indirect',
                                'status': newStatus,
                                'follower_endpoint': followingStatus[i]['followee']
                            }),
                            headers: { "X-CSRFToken": '{{csrf_token}}' },
                            beforeSend: function (request) {
                                request.withCredentials = true;
                                request.setRequestHeader(creds[0], creds[1]);
                            },
                            error: function (error) {
                                console.error(error);
                            }
                        })
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            }
        }
    }

    setInterval(updateFollowing, 2000)
</script>