<div id="follow-requests-bar">
    <h4 class="heading">Follow Requests</h4>
    <div class="request-box">
        <!-- CONTENT ENTERS HERE -->
    </div>
</div>

<script>

    const request_box = document.querySelector('.request-box');
    var requests_ids = [];
    var requestCount = 0

    function handleRequestOption(e, id, action, followerEndpoint) {
        e.preventDefault();

        var csrf_token = "{{ csrf_token }}";
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });

        status = 'dismiss'
        if (action === 'accept') {
            status = 'accept'
        }

        document.getElementById(`follow-request-${id}`).remove();
        requests_ids.splice(requests_ids.indexOf(id), 1);
        $.ajax({
            type: "POST",
            url: `/authors/${"{{ author.id }}"}/followers/requests/`,
            contentType: 'application/json',
            data: JSON.stringify({
                'mode': 'update-direct',
                'status': status,
                'follower_endpoint': followerEndpoint
            }),
            headers: {
                "Authorization": "Basic " + btoa("socialsink:socialSink123_"),
                'Access-Control-Allow-Origin': window.location.href
            },
            error: function (error) {
                console.error(error);
            }
        })
    }

    function createFollowRequestPanel(fd, id, followerEndpoint) {
        const follow_request = document.createElement('div');
        follow_request.classList.add('request')
        follow_request.id = `follow-request-${id}`

        const userProfileImage = fd['profileImage']

        if (userProfileImage !== null) {
                profileImage = userProfileImage;
        } else {
            profileImage = "../../../static/images/unknown_user.png";
        }

        follow_request.innerHTML = `<img src="${profileImage}" />
                                    <div class="request-content">
                                        <div>
                                            <p class="author-username">${fd['displayName']}</p>
                                        </div>
                                        <div class="flex-btn-wrap">
                                            <button type="button" id="accept-${id}" class="btn btn-accept" onclick="handleRequestOption(event, '${id}', 'accept', '${followerEndpoint}')"><i class="fa-regular fa-circle-check"></i></button>
                                            <button type="button" id="dismiss-${id}" class="btn btn-dismiss" onclick="handleRequestOption(event, '${id}', 'dismiss', '${followerEndpoint}')"><i class="fa-regular fa-circle-xmark"></i></button>
                                        </div>
                                    </div>`;
        return follow_request;
    }

    function updateFollowRequests() {
        //authors/<str:author_id>/followers/requests/
        return $.ajax({
            type: "GET",
            url: `/authors/${"{{ author.id }}"}/followers/requests/`,
            contentType: 'application/json',
            headers: {
                "Authorization": "Basic " + btoa("socialsink:socialSink123_"),
                'Access-Control-Allow-Origin': window.location.href
            },
            success: async function (response, textStatus, http) {
                await addRequests(response)
            },
            error: function (error) {
                console.error(error);
            }
        });
    }

    updateFollowRequests()
    setInterval(updateFollowRequests, 2000) //2 Second interval

    async function addRequests(data) {
        ids = []

        for (const i in data) {
            fd = JSON.parse(data[i])
            if (!requests_ids.some(sublist => sublist[0] === fd['id'])) {
                request_box.appendChild(createFollowRequestPanel(fd, requestCount, fd['id']))
                requests_ids.push([fd['id'], requestCount])
                requestCount = requestCount + 1
            }
            ids.push(fd['id'])
        }

        // CHECKING for expired/deleted requests
        for (i in requests_ids) {
            if (!(ids.includes(requests_ids[i][0]))) {
                document.getElementById(`follow-request-${i}`).remove();
                requests_ids.splice(requests_ids.indexOf(i), 1);
            }
        }
    }


</script>