<div id="delete-post-dialog" class="popup-modal">
    <p>Are you sure you want to permanantly delete this post?</p>
    <div class="button-wrap">
        <button id="confirm-delete-post-yes" class="confirm-red">Yes</button>
        <button id="confirm-delete-post-no">No</button>
    </div>
</div>

<div id="reshare-post-dialog" class="popup-modal">
    <p>Are you sure you want to re-share this post?</p>
    <div class="button-wrap">
        <button id="confirm-reshare-post-yes" class="confirm-red">Yes</button>
        <button id="confirm-reshare-post-no">No</button>
    </div>
</div>

<script>

    function showReshareConfirmation(postID, authorID, origin, source) {
        // Set a global variable to store the post ID to be reshared
        window.ResharePostID = postID;
        window.ReshareAuthorID = authorID;
        window.ReshareOrigin = origin;
        window.ReshareSource = source;

        // Show the custom confirmation dialog
        $("#reshare-post-dialog").addClass("show");
        $("body").toggleClass("has-popup-modal");
    }

    $("#confirm-reshare-post-yes").click(function() {
        // Execute the post reshare logic when the user clicks "Yes"
        sharePost(window.ResharePostID, window.ReshareAuthorID, window.ReshareOrigin, window.ReshareSource);
        $("#reshare-post-dialog").removeClass("show");
        $("body").toggleClass("has-popup-modal");
    });

    $("#confirm-reshare-post-no").click(function() {
        // Cancel the post reshare action when the user clicks "No"
        $("#reshare-post-dialog").removeClass("show");
        $("body").toggleClass("has-popup-modal");
    });

    function showDeleteConfirmation(postID) {
        // Set a global variable to store the post ID to be deleted
        window.postToDelete = postID;

        // Show the custom confirmation dialog
        $("#delete-post-dialog").addClass("show");
        $("body").toggleClass("has-popup-modal");
    }

    $("#confirm-delete-post-yes").click(function() {
        // Execute the post deletion logic when the user clicks "Yes"
        deletePost(window.postToDelete);
        $("#delete-post-dialog").removeClass("show");
        $("body").toggleClass("has-popup-modal");
    });

    $("#confirm-delete-post-no").click(function() {
        // Cancel the post deletion action when the user clicks "No"
        $("#delete-post-dialog").removeClass("show");
        $("body").toggleClass("has-popup-modal");
    });
    
</script>