<div id="profile-bar" style="overflow: hidden;">
    <img src="../../../static/images/user_bg.jpg" class="user-bg" />
    <img src="../../../static/images/unknown_user.png" class="profile-img" />
    <div class="user-box">
        <h3 class="username">{{ user.username}}</h3>
        <p class="useremail">{{ user.email }}</p>
        <p class="userbio">My user bio can be read here</p>
    </div>
    <div class="follow-box">
        <div>
            <p id="following" class="count"></p>
            <p class="count-label">Following</p>
        </div>
        <div>
            <p class="count">72</p>
            <p class="count-label">Friends</p>
        </div>
    </div>
</div>

<script>
    function getFollowingCount() {
        console.log("Getting Following count")
        $.ajax({
            type: "GET",
            url: "api/get-following/",
            success: function (response, textStatus, http) {
                console.log(Object.keys(response).length);
                followingCount = document.getElementById('following');
                followingCount.innerText = Object.keys(response).length;
            },
            error: function (error) {
                console.error(error);
            }
        })
    }

    getFollowingCount();
    setInterval(getFollowingCount, 5000);
</script>