<div id="profile-bar" style="overflow: hidden;">
    <button id="edit-profile-btn" class="button" onclick="showEditProfile()">
        <i class="fa-solid fa-pencil"></i>
    </button>
    <img src="../../../static/images/user_bg.jpg" class="user-bg" />
    <img src="{% if author.profileImage %}{{ author.profileImage }}{% else %}../../../static/images/unknown_user.png{% endif %}" class="profile-img" />
    <div class="user-box">
        <h3 id="profile-username" class="username">{{ user.username}}</h3>
        <p id="profile-email" class="useremail">{{ user.email }}</p>
        <p id="profile-bio" class="userbio">{% if author.bio %}{{ author.bio }}{% endif %}</p>
        <p id="profile-github" class="usergithub">{% if author.github %}GitHub: {{ author.github }}{% endif %}</p>
    </div>
    <div class="follow-box">
        <div>
            <p id="following-count" class="count"></p>
            <p class="count-label">Followers</p>
        </div>
        <div>
            <p id="friend-count" class="count"></p>
            <p class="count-label">Friends</p>
        </div>
    </div>
</div>

<!-- Edit profile dialog -->
<div id="edit-profile-dialog" class="popup-modal">
    <p>Edit your profile here</p>
    <div id="profile-bar">
        <img src="../../../static/images/user_bg.jpg" class="user-bg" />
        <div class="edit-profile-image-container">
            <img src="{% if author.profileImage %}{{ author.profileImage }}{% else %}../../../static/images/unknown_user.png{% endif %}" class="profile-img" />
        </div>
        <div class="user-box">
            <p class="useremail">{{ user.email }}</p>
            <label for="edit-userimage">Profile Image</label>
            <input type="text" id="edit-userimage" class="form-control" placeholder="{{ author.profileImage }}"/>
            <label for="edit-username">Username</label>
            <input type="text" id="edit-username" class="form-control" placeholder="{{ user.username }}"/>
            <label for="edit-userbio">Bio</label>
            <input type="text" id="edit-userbio" class="form-control" placeholder="{{ author.bio }}"/>
            <label for="edit-usergithub">GitHub</label>
            <input type="text" id="edit-usergithub" class="form-control" placeholder="{{ author.github }}"/>
        </div>
    </div>
    <div class="button-wrap">
        <button id="confirm-edit-profile-yes" class="confirm-red">Save</button>
        <button id="confirm-edit-profile-no">Cancel</button>
    </div>
</div>
<!-- Edit profile dialog -->

<script>

    function getFollowingCount() {
        $.ajax({
            type: "GET",
            url: `/authors/${"{{ author.id }}"}/followers`,
            beforeSend: function (request)
            {
                request.withCredentials = true;
                request.setRequestHeader("Authorization", "Basic " + btoa("socialsink:socialSink123_"));
            },
            success: function (response, textStatus, http) {
                followers = response['items']
                followingCount = document.getElementById('following-count');
                followingCount.innerText = followers.length;
            },
            error: function (error) {
                console.error(error);
            }
        })
        $.ajax({
            type: "GET",
            url: `/authors/${"{{ author.id }}"}/friends/`,
            beforeSend: function (request)
            {
                request.withCredentials = true;
                request.setRequestHeader("Authorization", "Basic " + btoa("socialsink:socialSink123_"));
            },
            success: function (response, textStatus, http) {
                friendCount = document.getElementById('friend-count');
                friendCount.innerText = response.length
            },
            error: function(error) {
                console.error(error)
            }
        })
    }

    getFollowingCount();
    // Update interval
    setInterval(getFollowingCount, 2000);

    function showEditProfile() {
       $("#edit-profile-dialog").addClass("show");
       $("body").toggleClass("has-popup-modal");
    }

    $("#confirm-edit-profile-yes").click(function() {
        // Execute the edit profile logic when the user clicks "Yes"
        var profileImage = $("#edit-userimage").val()
        var username = $("#edit-username").val()
        var bio = $("#edit-userbio").val()
        var github = $("#edit-usergithub").val()

        if (username.length === 0 && bio.length === 0 && github.length === 0 && profileImage.length === 0) {
            alert("No changes have been made, fields are empty");
            $("#edit-profile-dialog").removeClass("show");
            $("body").toggleClass("has-popup-modal");

        } else if (profileImage.length > 0 && (profileImage.length > 200 || (!profileImage.startsWith("https://imgur.com/") && !profileImage.startsWith("https://i.imgur.com/")))) {
            alert("Profile image URL is too long or invalid, must be under 200 characters and start with 'https://imgur.com/' or 'https://i.imgur.com/'");
        } else if (username.length > 200) {
            alert("Username is too long, must be under 200 characters");
        } else if (bio.length > 200) {
            alert("Bio is too long, must be under 200 characters");
        } else if (github.length > 200) {
            alert("GitHub is too long, must be under 200 characters");
        } else {

            var csrf_token = "{{ csrf_token }}";
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
            $.ajax({
                type: "PUT",
                url: `/api/update-user/{{user.id}}`,
                contentType: 'application/json',
                data: JSON.stringify({
                    'profileImage': profileImage,
                    'username': username,
                    'bio': bio,
                    'github': github,
                }),
                success: function (response, textStatus, http) {
                    if (http.status === 200) {
                        $("#edit-profile-dialog").removeClass("show");
                        $("body").toggleClass("has-popup-modal");
                        window.location.reload()
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            })
        }
    });

    $("#confirm-edit-profile-no").click(function() {
        // Cancel the edit profile action when the user clicks "No"
        $("#edit-profile-dialog").removeClass("show");
        $("body").toggleClass("has-popup-modal");
    });

</script>