@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');

/* Variables and Colors */
:root {
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Lora', serif;
    --lightest-blue: #f8fbff;
    --light-blue: #bdd1de;
    --bright-blue: #1a63fb;
    --turquoise-blue: #29afc2;
    --hot-pink: #fe5969;
    --pastel-green: #07ddae;
    --beige: #e6ddd6;
    --off-white: #f9f9f9;
    --deep-blue: #06141d;
    --dark-gray: #1b2730;
    --medium-grey: #28343e;
    --light-grey: #606e7a;
    --button-text: #9ba9b6;
    --design-padding: 20px;
    --card-round-border: 14px;
}

html,
body {
    height: 100%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.scrollable-div::-webkit-scrollbar {
    position: absolute;
    left: -100px;
 }

/* width */
::-webkit-scrollbar {
    width: 4px;
 }
/* Track */
 ::-webkit-scrollbar-track {
   background: var(--deep-blue);
   border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: var(--button-text);
   border-radius: 10px;
}

/* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
    background: var(--button-text);
}

svg {
    transition: color 300ms ease 0s;
}

.hide {
    display: none !important;
    visibility: hidden;
}

/* -------------------------------------------------------------------------------------- */

body {
    font-family: var(--primary-font);
    background: var(--light-blue);
    color: var(--off-white);
    margin: 0;
    display: flex;
    letter-spacing: 0.5px;
}

p {
    margin: 0.125rem 0;
    letter-spacing: 0.5px;
}

a {
    cursor: pointer;
    color: var(--off-white);
    text-decoration: none;
    transition: all 300ms ease 0s;
}

a:hover {
    color: var(--bright-blue);
    text-decoration: none;
}

button {
    font-family: var(--primary-font);
    cursor: pointer;
}

/* NavBar Begins -------------------------------------- */
.site-header {
    display: inline-flex;
    flex-direction: row;
    height: 60px;
    padding: 20px 25px 0;
    background: none;
    box-sizing: border-box;
    border-radius: 32px 32px 0 0;
    background: var(--deep-blue);
}

.navbar {
    width: 100%;
    padding: 0;
}

.navbar .nav-link {
    padding: 5px;
}

.navbar .nav-right-options {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* NavBar Ends ---------------------------------------- */

/* Main Containers and Bars Begins -------------------  */

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin: var(--design-padding) var(--design-padding);
    background: none;
    box-shadow: 0 30px 40px rgba(0,0,0,.5);
    border-radius: 32px;
}

/* Sign In Page Begins -------------------------------- */

.login-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: var(--deep-blue);
    padding: 50px;
    border-radius: 32px;
}

.login-wrapper .login-left,
.login-wrapper .login-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
}

.login-wrapper .login-left {
    width: 55%;
}

.login-wrapper .login-right {
    width: 45%;
}

.login-wrapper .login-right img {
    /* image from dalle 2 and bg color edited with https://www4.lunapic.com/editor/?action=save */
    width: 100%;
    object-fit: cover;
}

.login-wrapper h1 {
    font-family: var(--secondary-font);
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--off-white);
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.login-wrapper h1 span {
    color: var(--bright-blue);
}

.login-wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    width: 360px;
}

.login-wrapper p {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--button-text);
    letter-spacing: 0.5px;
}

.login-wrapper p a {
    font-weight: 500;
}

.login-wrapper input {
    color: #fff;
    background: var(--medium-grey);
    min-height: 50px;
    outline: none;
    border: none;
    border-radius: 10px;
    letter-spacing: 0.5px;
    padding: 5px 16px;
    min-width: 360px;
    width: 100%;
    transition: background-color 300ms ease 0s, box-shadow 300ms ease 0s;
}

.login-wrapper input::placeholder {
    color: var(--button-text);
}

.login-wrapper input:hover,
.login-wrapper input:focus {
    background-color: var(--dark-gray);
    box-shadow: 0 1px 6px rgba(0,0,0,.25);
}

.login-wrapper #forgot-password {
    width: 100%;
    text-align: right;
}

.login-wrapper button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    min-width: 140px;
    min-height: 50px;
    
    font-size: 1rem;
    font-weight: 600;
    color: var(--button-text);
    background: none;
    border-radius: 10px;
    border: 2px solid var(--medium-grey);
    margin: 10px 0 34px;
    transition: all 500ms ease 0s;
    letter-spacing: 1.5px;
}

.login-wrapper button:hover,
.login-wrapper button:focus {
    color: var(--deep-blue);
    background-color: var(--light-blue);
    border: 2px solid var(--light-blue);
    box-shadow: 0 1px 6px rgba(0,0,0,.25);
}

/* Sign In Page Ends ---------------------------------- */

.home-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    height: calc(100% - 60px);
    gap: 7px;
    background: var(--deep-blue);
    padding: 20px 25px 50px;
    border-radius: 0 0 32px 32px;
}

/* Main Containers and Bars Starts ----------------- */

.main-area {
    position: relative;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    flex-grow: 1;
    flex-basis: 50%;
    margin-left: 9px;
}

.left-bar{
    position: relative;
    height: 100%;
    flex-basis: 25%;
    width: 25%;
    overflow: hidden;
    background: var(--dark-gray);
    border-radius: var(--card-round-border);
}

.right-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    flex-basis: 25%;
    width: 25%;
    overflow: hidden;
}

/* Main Containers and Bars Ends ------------------- */

#post-container,
#git-container {
    display: none;
}

#post-container.active-container,
#git-container.active-container {
    display: initial;
    overflow-y: overlay;
    border-radius: 16px;
    padding-right: 5px;
}

/* Feed Posts Begins ------------------------------- */

.feed-post-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    padding: 16px;
    background: var(--dark-gray);
    border-radius: var(--card-round-border);
}

.feed-post {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    height: auto;
    padding: 16px;
    background: var(--dark-gray);
    border-radius: var(--card-round-border);
}

#git-container .feed-post {
    margin-bottom: 16px;
}

#post-container .feed-post:last-of-type,
#git-container .feed-post:last-of-type {
    margin-bottom: 0;
}

.feed-post img.profile-img,
.post-single-comment .comment-img {
    width: 80px;
    min-width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 1px 6px rgba(0,0,0,.95);
    transition: box-shadow 300ms ease 0s;
}

.post-single-comment .comment-img {
    width: 50px;
    min-width: 50px;
    height: 50px;
}

.feed-post img.profile-img:hover,
.feed-post img.profile-img:focus,
.post-single-comment .comment-img:hover,
.post-single-comment .comment-img:focus {
    box-shadow: 0 1px 12px rgba(0,0,0,1);
}

.feed-post img {
    max-width: 100%;
    overflow: hidden;
    max-height: 350px;
    border-radius: 5px;
}

.post-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
}

.post-comment-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
    padding: 0 16px;
    width: 100%;
}

.post-comment-input-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.post-comment-content input {
    color: #fff;
    background: var(--medium-grey);
    min-height: 50px;
    outline: none;
    border: none;
    border-radius: var(--card-round-border);
    letter-spacing: 0.5px;
}

.post-comment-content:first-of-type {
    margin-top: 16px;
}

.post-single-comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    min-height: 50px;
    border-radius: var(--card-round-border);
}

.post-single-comment .flex-vertical-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.post-comment-content .comment-username {
    padding-left: 5px;
    margin: 0 0 8px 0;
}

.post-single-comment .comment-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    width: 100%;
    color: var(--lightest-blue);
    background: none;
    outline: 1px solid var(--light-grey);
    border: none;
    border-radius: var(--card-round-border);
    letter-spacing: 0.5px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}


.flex-btn-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.flex-btn-wrap .btn,
.flex-btn-wrap button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    color: var(--button-text);
    background: none;
    border-radius: var(--card-round-border);
    border: 2px solid var(--medium-grey);
    min-width: 140px;
    min-height: 50px;
    transition: all 500ms ease 0s;
    letter-spacing: 0.25px;
    padding: 0;
}

.flex-btn-wrap .btn:hover,
.flex-btn-wrap .btn:focus {
    color: var(--button-text);
    background-color: var(--medium-grey);
    box-shadow: 0 1px 6px rgba(0,0,0,.25);
}

.flex-btn-wrap button svg {
    font-size: 1.125rem;
} 

.btn-like svg,
.btn-off-white svg {
    color: var(--off-white);
}

.btn-photo svg {
    color: var(--pastel-green);
}

.btn-post svg {
    color: var(--bright-blue);
}

.post-content time {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--light-grey);
    letter-spacing: 0;
    flex-direction: row;
}

.existing-post .flex-btn-wrap button {
    color: var(--button-text);
    background: var(--medium-grey);
    border-radius: var(--card-round-border);
    border: none;
}

.existing-post .flex-btn-wrap button:hover,
.existing-post .flex-btn-wrap button:focus {
    background-color: var(--deep-blue);
}

.existing-post .flex-btn-wrap button.liked svg,
.existing-post .flex-btn-wrap button.liked:hover svg,
.existing-post .flex-btn-wrap button.liked:focus svg {
    color: var(--hot-pink) !important;
}

.feed-post .dropdown {
    position: absolute;
    right: 0;
}

.feed-post .dropdown-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    min-width: 50px;
    height: 30px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--light-grey);
    background: none;
    border-radius: 5px;
    border: none;
    transition: all 500ms ease 0s;
    /* This drop down was not used, hidding it for now instead of deleting too much */
    display: none;
}

.feed-post .dropdown-toggle:hover,
.feed-post .dropdown-toggle:focus {
    color: var(--off-white);
}

.feed-post .dropdown-toggle::after {
    display: none;
}

.feed-post .dropdown-menu {
    right: 0;
}

/* Feed Posts Ends ----------------------------- */

/* Visibility Button Starts --------------------------- */

.flex-btn-wrap .btn {
    padding: 0 20px;
}

.post-content select {
    text-align: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.post-content .publicity-select-wrap {
    position: relative;
}

.post-content .content-type-select-wrap {
    position: relative;
}

.post-content .publicity-select-wrap:after {
    color: var(--button-text);
    font-family: "Font Awesome 6 Free";
    content: "\f06e";
    position: absolute;
    top: 50%;
    right: 20px;
    pointer-events: none;
    transform: translateY(-50%);
}

.post-content .content-type-select-wrap:after {
    color: var(--button-text);
    font-family: "Font Awesome 6 Free";
    content: "\f15c";
    position: absolute;
    top: 50%;
    right: 20px;
    pointer-events: none;
    transform: translateY(-50%);
}

.post-content option {
    color: var(--button-text);
}

.post-content option:hover,
.post-content option:focus {
    color: var(--button-text);   
}

/* Visibility Button Ends ----------------------------- */

/* Create Post Begins -------------------------- */

#create-accordion .feed-post {
    display: none;
}

#create-accordion.expanded .feed-post {
    display: flex;
}

.feed-post.create-new {
    width: calc(100% - 9px);
    min-height: 346px;
    margin: 0 auto 16px 0;
    transition: min-height 500ms ease 0s, height 500ms ease 0s;
}

.feed-post.create-new.upload-img {
    min-height: initial;
}

.post-content input {
    color: #fff;
    background: var(--medium-grey);
    min-height: 50px;
    outline: none;
    border: none;
    border-radius: var(--card-round-border);
    letter-spacing: 0.5px;
}

.post-content input::placeholder {
    color: var(--button-text);
}

/* Create Post Ends ----------------------- */

/* Profile Bar Begins --------------------- */

#profile-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--dark-gray);
    width: 100%;
    border-radius: var(--card-round-border);
}

#profile-bar .user-bg {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: var(--card-round-border) var(--card-round-border) 0 0;
    transition: opacity 300ms ease 0s;
}

#profile-bar .profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    transform: translateY(-50%);
    margin-bottom: -28px;
    box-shadow: 0 1px 6px rgba(0,0,0,.25);
    transition: opacity 300ms ease 0s;
}

#profile-bar .user-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

#profile-bar .user-box > * {
    margin: 0;
}

#profile-bar .username {
    font-size: 20px;
    font-weight: 500;
}

#profile-bar .useremail {
    font-size: 16.5px;
    font-weight: 600;
    color: var(--light-grey);
    letter-spacing: 0;
} 

#profile-bar .userbio {
    max-width: 300px;
}

#profile-bar .follow-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 26px;
    padding: 20px 0;
    border-top: 1px solid #606e7a61;
    border-bottom: 1px solid #606e7a61;
}

#profile-bar .follow-box > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-bar .follow-box > div:first-of-type {
    border-right: 1px solid #606e7a61;
}

#profile-bar .follow-box .count {
    color: var(--off-white);
    font-weight: 700;
    letter-spacing: 0.75px;
}

#profile-bar .follow-box .count-label {
    color: #707f8c;
    font-weight: 600;
    letter-spacing: 0.75px;
}

/* Profile Bar Ends ----------------------- */

/* Follow Bars Starts --------------------- */

#find-author-bar,
#follow-requests-bar {
    display: flex;
    flex-direction: column;
    background: var(--dark-gray);
    border-radius: var(--card-round-border);
    padding: 16px;
    flex-basis: 50%;
    overflow-y: overlay;
    scrollbar-gutter: stable;
}

#find-author-bar .heading,
#follow-requests-bar .heading { 
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--light-blue);
    margin-bottom: 0;
}

#find-author-bar .author-box,
#follow-requests-bar .request-box {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 100%;
    gap: 26px;
    padding: 0;
}

#find-author-bar .author-box .author:first-of-type,
#follow-requests-bar .request-box .request:first-of-type {
    margin-top: 20px;
}

#find-author-bar img,
#follow-requests-bar img {
    min-width: 48px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 1px 6px rgba(0,0,0,.25);
}

#find-author-bar .author,
#follow-requests-bar .request {
    display: inline-flex;
    gap: 1em;
}

#find-author-bar .author-content,
#follow-requests-bar .request-content {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

#find-author-bar .author-content .request,
#find-author-bar .author-content .unfollow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    min-width: 132px;
    min-height: 45px;
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--button-text);
    background: var(--medium-grey);
    border-radius: 25px;
    border: none;
    letter-spacing: 0.25px;
    padding: 0 20px;
    transition: all 500ms ease 0s;
}

#find-author-bar .author-content .request:hover,
#find-author-bar .author-content .request:focus {
    color: var(--button-text);
    background: var(--deep-blue);
}

#find-author-bar .author-content .unfollow {
    color: var(--deep-blue);
    background: var(--light-blue);
}

#find-author-bar .author-content .unfollow:hover,
#find-author-bar .author-content .unfollow:focus {
    color: var(--button-text);
    background: var(--medium-grey);
}

#follow-requests-bar .request-content svg {
    font-size: 2rem;
}

#follow-requests-bar .request-content .btn-accept,
#follow-requests-bar .request-content .btn-dismiss {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    min-width: 0;
    min-height: 0;
    width: 46px;
    height: 46px;
    font-weight: 700;
    color: var(--light-blue);
    background: none;
    border-radius: 25px;
    border: none;
    padding: 0;
    transition: box-shadow 300ms ease 0s;
}

#follow-requests-bar .request-content .btn-accept:hover,
#follow-requests-bar .request-content .btn-accept:focus {
    color: var(--pastel-green);
    box-shadow: 0 1px 6px rgba(0,0,0,.5);
}

#follow-requests-bar .request-content .btn-dismiss:hover,
#follow-requests-bar .request-content .btn-dismiss:focus {
    color: var(--hot-pink);
    box-shadow: 0 1px 6px rgba(0,0,0,.5);
}

/* Follow Bars Ends ----------------------- */

/* Testing Confirm Delete ----------------- */

.popup-modal:not(.show) {
    display: none !important;
}

body.has-popup-modal:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 9;
}

.popup-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 30px;
    width: 100%;
    max-width: 800px;
    min-height: 260px;
    height: auto;
    margin: auto;
    padding: 50px 125px;
    background: var(--dark-gray);
    border-radius: var(--card-round-border);
    box-shadow: 0 1px 10px rgba(0,0,0,0.75);
    z-index: 10;
}

.popup-modal p {
    color: var(--light-blue);
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
}

.popup-modal .button-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.popup-modal button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    color: var(--button-text);
    background: none;
    border-radius: var(--card-round-border);
    border: 2px solid var(--medium-grey);
    min-width: 140px;
    min-height: 50px;
    transition: all 500ms ease 0s;
    letter-spacing: 0.25px;
    padding: 0 20px;
}

.popup-modal button:hover,
.popup-modal button:focus {
    color: var(--button-text);
    background-color: var(--medium-grey);
    box-shadow: 0 1px 6px rgba(0,0,0,.25);
}

.popup-modal button#confirm-delete-post-yes:hover,
.popup-modal button#confirm-delete-post-yes:focus {
    color: var(--hot-pink);
}

/* Upload Image Starts -------------------- */
#image-preview-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

#image-preview-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--button-text);
    background-color: var(--medium-grey);
    border-radius: 50%;
    border: 2px solid var(--medium-grey);
    min-width: 30px;
    min-height: 30px;
    transition: all 500ms ease 0s;
    letter-spacing: 0.25px;
    padding: 0;
}

#image-preview-container button:hover,
#image-preview-container button:focus {
    color: var(--button-text);
    background: none;
    box-shadow: 0 1px 6px rgba(0,0,0,.25);
}

/* Upload Image Ends ---------------------- */

/* Edit Post Starts ----------------------- */
.existing-post .btn-save:hover svg,
.existing-post .btn-save:focus svg {
    color: var(--pastel-green);
}

.existing-post .btn-cancel:hover svg,
.existing-post .btn-cancel:focus svg  {
    color: var(--hot-pink);
}

/* Edit Post Ends ------------------------- */

/* Edit Profile Begins -------------------- */

#edit-profile-dialog.popup-modal {
    padding: 35px 150px;
    max-width: 600px;
}

#edit-profile-btn svg {
    color: var(--button-text);
}

#edit-profile-btn {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    color: var(--button-text);
    background: var(--dark-gray);
    border-radius: 50%;
    border: none;
    min-width: 40px;
    min-height: 40px;
    transition: all 500ms ease 0s;
    letter-spacing: 0.25px;
    padding: 0;
    margin: 10px;
}

#edit-profile-btn:hover,
#edit-profile-btn:focus {
    background-color: var(--deep-blue);
    box-shadow: 0 1px 6px rgba(0,0,0,.25);
}

#edit-profile-btn:hover svg,
#edit-profile-btn:focus svg {
    color: var(--bright-blue); 
}

.popup-modal button.confirm-red:hover,
.popup-modal button.confirm-red:focus {
    color: var(--hot-pink);
}

.popup-modal button.confirm-green:hover,
.popup-modal button.confirm-green:focus {
    color: var(--pastel-green);
}


#edit-profile-dialog.popup-modal .user-bg:hover,
#edit-profile-dialog.popup-modal .user-bg:focus  {
    cursor: pointer;
    opacity: 0.80;
}

#edit-profile-dialog.popup-modal .edit-profile-image-container {
    position: relative;
    height: 100px;
    width: 100px;
    margin-bottom: -28px;
    transform: translateY(-50%);
}

#edit-profile-dialog.popup-modal .profile-img {
    margin-bottom: 0;
    transform: none;
}

#edit-profile-dialog.popup-modal label {
    width: 100%;
    padding-left: 5px;
}

#edit-profile-dialog.popup-modal input {
    color: #fff;
    background: var(--medium-grey);
    min-height: 40px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: var(--card-round-border);
    letter-spacing: 0.5px;
    font-size: 16.5px;
    font-weight: 400;
}

#edit-profile-dialog.popup-modal .user-box {
    width: 100%;
}

#edit-profile-dialog.popup-modal .userbio {
    max-width: none;
}

/* Edit Profile Ends ---------------------- */

/* Nav Feed Tabs Begins ------------------- */

#top-options-container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 9px);
    margin: 0 auto 16px 0;
    align-items: flex-start;
}

#toggle-create-window,
#nav-feed-tabs button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    color: var(--button-text);
    background: none;
    border-radius: var(--card-round-border);
    border: 2px solid var(--medium-grey);
    min-width: 140px;
    min-height: 50px;
    transition: all 500ms ease 0s;
    letter-spacing: 0.25px;
    padding: 0 20px;
}

#toggle-create-window:hover,
#toggle-create-window:focus,
#nav-feed-tabs button:hover,
#nav-feed-tabs button:focus {
    color: var(--button-text);
    background: var(--dark-gray);
    box-shadow: 0 1px 6px rgba(0,0,0,.25);
    opacity: 1;
}

#nav-feed-tabs {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#nav-feed-tabs button.active-feed {
    background: var(--dark-gray);
    opacity: 1;
}

/* Nav Feed Tabs Ends --------------------- */

@media only screen and (min-width: 1921px) {
    main {
        max-width: 1920px;
        margin: var(--design-padding) auto;
    }
}