{% extends "main/header.html" %}
{% block content %}
    {% include 'main/includes/navbar.html' %}
    <div class="home-wrapper">
        <div class="left-bar">
            {% include 'main/includes/profilebar.html' %}
        </div>
        <div class="main-area">
            <div id="top-options-container">
                <div id="nav-feed-tabs" class="nav-feed-tabs">
                    <button id="show-feed-activity" class="btn active-feed" onclick="showFeedActivity()"><i class="fa-solid fa-message"></i>Feed</button>
                    <button id="show-git-activity" class="btn" onclick="showGitActivity()"><i class="fa-brands fa-github"></i>Git</button>
                </div>
                <button id="toggle-create-window" class="btn" type="button"><i class="fa-solid fa-circle-minus create-icon hide"></i><i class="fa-solid fa-circle-plus create-icon"></i>Create a Post</button>
            </div>
            {% include 'main/includes/createpost.html' %}
            <div id="post-container" class="active-container">
                {% for post in posts %}
                    {% include 'main/includes/feedpost.html' with post=post %}
                {% endfor %}
            </div>
            <!-- This includes the html for gitfeed and the outer div has id="git-container" -->
            {% include 'main/includes/gitcontainer.html' %}
            <!-- --------------------------------------------------------------------------- -->
        </div>
        <div class="right-bar">
            {% include 'main/includes/findauthorsbar.html' %}
            {% include 'main/includes/followrequests.html' %}
        </div>
    </div>
    
    <!-- Includes the popup modals, like confirm delete and confirm share post -->
    {% include 'main/includes/popupmodals.html' %}
    <!-- --------------------------------------------------------------------- -->

    <script>
        const feedContainer = document.getElementById("post-container");
        var oldPostsRetrieved = false
        var postIDs = []

        function addPost(post) {
            id = post['id'].split('/').at(-2)
            authorId = post['author']['id'].split('/').at(-2)
            postIDs.push([id, authorId, post['origin']])

            const postElement = document.createElement("div");
            postElement.classList.add("feed-post", "existing-post");
            postElement.id = "post-block-" + id;
            postElement.setAttribute('data-post-id', id);

            if (post['source'] !== null) {
                shared = `<i style="height: 20px; width: 20px;" class="fa-solid fa-retweet"></i> `
            } else {
                shared = ``
            }

            if (post['unlisted'] === true) {
                unlisted = `<a href="/posts/${id}" style="color: #0D6EFD;"><p>URI for post - ${window.location.href}posts/${id}</p></a>`
            } else {
                unlisted = ``
            }

            var likeButton = ''
            if (post['liked'] === 1) {
                likeButton = `<button type="button" class="btn btn-like liked" id="like-button-${id}" onclick="unlikePost(${id}, ${authorId}, '${post['origin']}')">${post['like-count']} <i class="fa-solid fa-heart"></i></button>`
            } else {
                likeButton = `<button type="button" class="btn btn-like" id="like-button-${id}" onclick="likePost(${id}, ${authorId}, '${post['origin']}')">${post['like-count']} <i class="fa-solid fa-heart"></i></button>`
            }

            // showDeleteConfirmation function can be found in the popupmodals.html file under scripts
            if (authorId === "{{author.id}}") {
                deleteButton = `<button type="button" class="btn" id="delete-button-${id}" onclick="showDeleteConfirmation(${id})"><i class="fa-solid fa-trash"></i>Delete</button>`
            } else {
                deleteButton = ""
            }

            if (authorId === "{{author.id}}" && post['source'] === null) {
                dropdown = `<div class="dropdown-item" style="cursor: pointer" onclick="editPost(${id}, '${post['contentType']}')">Edit Post</div>`
            } else {
                dropdown = `<a class="dropdown-item" href="#">Non owner action</a>`
            }
            
            if (post['contentType'] === 'image/jpeg;base64' || post['contentType'] === 'image/png;base64') {
                content = `<p id="post-content-${id}"><img id="image-preview" src="${post['content']}" alt="img"></p>`
            } else {
                content = `<p id="post-content-${id}">${post['content']}</p>`
            }

            const timestamp = post['published'];
            const date = new Date(timestamp);

            const readableDate = date.toDateString();
            const readableTime = date.toLocaleTimeString();

            // Construct the post content using the provided data
            // <a href="/"><img src="../../../static/images/unknown_user.png" /></a>

            // showReshareConfirmation function can be found in the popupmodals.html file under scripts
            postElement.innerHTML = `
                <a href="/"><img src="../../../static/images/unknown_user.png" class="profile-img" /></a>
                <div class="post-content">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-${id}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            ${dropdown}
                        </div>
                    </div>
                    <div class="post-body">
                        <p id="post-username-${id}">${shared}${post['author']['displayName']}</p>
                        <time id="post-timestamp-${id}">${readableDate} at ${readableTime}</time>
                        ${unlisted}
                        <p id="post-title-${id}">${post['title']}</p>
                        <p id="post-description-${id}">${post['description']}</p>
                        <p id="post-categories-${id}">${post['categories']}</p>
                        ${content}
                    </div>
                    <div class="flex-btn-wrap" id="flex-btn-wrap-${id}">
                        ${likeButton}
                        <button type="submit" id="share-button-${id}" onclick="showReshareConfirmation(${id}, ${authorId}, '${post['origin']}', '${post['source']}')" class="btn btn-share"><i class="fa-solid fa-share"></i>Share</button>
                        ${deleteButton}
                    </div>
                </div>
            `;

            // Get the container where you want to insert the new post
            if (feedContainer.firstChild) {
                feedContainer.insertBefore(postElement, feedContainer.firstChild);
            } else {
                feedContainer.appendChild(postElement)
            }
        }

        function editPost(id, contentType) {
            if ($(`#like-button-${id}`).hasClass('hide') === false) {
                contentText = $(`#post-content-${id}`).text()
                titleText = $(`#post-title-${id}`).text()
                descriptionText = $(`#post-description-${id}`).text()
                categoriesText = $(`#post-categories-${id}`).text()

                $(`#post-title-${id}`).text("")
                $(`#post-description-${id}`).text("")
                $(`#post-categories-${id}`).text("")
                $(`#post-content-${id}`).text("")

                titleBox = `<input type="text" id="edit-post-title-${id}" class="form-control" value="">`
                descriptionBox = `<input type="text" id="edit-post-description-${id}" class="form-control" value="">`
                categoriesBox = `<input type="text" id="edit-post-categories-${id}" class="form-control" value="">`
                
                contentBox = ``
                if (contentType === 'text/plain' || contentType === 'text/markdown') {
                    contentBox = `<input type="text" id="edit-post-content-${id}" class="form-control" value="">`
                    $(`#post-content-${id}`).append(contentBox)
                    $(`#edit-post-content-${id}`).val(contentText)
                }

                $(`#post-title-${id}`).append(titleBox)
                $(`#post-description-${id}`).append(descriptionBox)
                $(`#post-categories-${id}`).append(categoriesBox)
                $(`#edit-post-title-${id}`).val(titleText)
                $(`#edit-post-description-${id}`).val(descriptionText)
                $(`#edit-post-categories-${id}`).val(categoriesText)

                saveButton = `<button type="button" class="btn btn-save" id="save-button-${id}" onclick="saveEditPost(${id}, '${contentType}')"><i class="fa-solid fa-check"></i>Save</button>`
                cancelButton = `<button type="button" class="btn btn-cancel" id="cancel-button-${id}" onclick="cancelEditPost(${id}, '${titleText}', '${descriptionText}', '${categoriesText}', '${contentText}', '${contentType}')"><i class="fa-solid fa-xmark"></i>Cancel</button>`
                $(`#flex-btn-wrap-${id}`).append(saveButton)
                $(`#flex-btn-wrap-${id}`).append(cancelButton)
                
                $(`#like-button-${id}`).addClass('hide')
                $(`#share-button-${id}`).addClass('hide')
                $(`#delete-button-${id}`).addClass('hide')
                $(".dropdown-menu").removeClass('show');
            }
        }

        function saveEditPost(id, contentType) {
            contentText = $(`#edit-post-content-${id}`).val()
            titleText = $(`#edit-post-title-${id}`).val()
            descriptionText = $(`#edit-post-description-${id}`).val()
            categoriesText = $(`#edit-post-categories-${id}`).val()


            if (titleText.length > 200 || descriptionText.length > 200 || categoriesText.length > 200) {
                alert("Title/Description/Categories must all be < 200 characters")
            } else {
                authorID = "{{author.id}}"
                var csrf_token = "{{ csrf_token }}";
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    }
                });
                $.ajax({
                    type: "POST",
                    url: `/service/authors/${authorID}/posts/${id}/`,
                    contentType: 'application/json',
                    data: JSON.stringify({
                        'title': titleText,
                        'description': descriptionText,
                        'categories': categoriesText,
                        'content': contentText,
                    }),
                    success: function (response, textStatus, http) {
                        if (http.status === 200) {
                            $(`#save-button-${id}`).remove()
                            $(`#cancel-button-${id}`).remove()
                            $(`#edit-post-text-${id}`).remove()
                            $(`#post-title-${id}`).text(titleText)
                            $(`#post-description-${id}`).text(descriptionText)
                            $(`#post-categories-${id}`).text(categoriesText)
                            $(`#post-content-${id}`).text(contentText)

                            $(`#like-button-${id}`).removeClass('hide')
                            $(`#share-button-${id}`).removeClass('hide')
                            $(`#delete-button-${id}`).removeClass('hide')
                        }
                    },
                    error: function (error) {
                        console.error(error);
                    }
                })
            }
        }

        function cancelEditPost(id, titleText, descriptionText, categoriesText, contentText, contentType) {
            $(`#post-title-${id}`).show()
            $(`#post-description-${id}`).show()
            $(`#post-categories-${id}`).show()
            $(`#post-content-${id}`).show()

            $(`#edit-post-title-${id}`).remove()
            $(`#edit-post-description-${id}`).remove()
            $(`#edit-post-categories-${id}`).remove()
            $(`#edit-post-content-${id}`).remove()

            $(`#post-title-${id}`).text(titleText)
            $(`#post-description-${id}`).text(descriptionText)
            $(`#post-categories-${id}`).text(categoriesText)
            $(`#post-content-${id}`).text(contentText)

            $(`#save-button-${id}`).remove()
            $(`#cancel-button-${id}`).remove()

            $(`#like-button-${id}`).removeClass('hide')
            $(`#share-button-${id}`).removeClass('hide')
            $(`#delete-button-${id}`).removeClass('hide')
        }

        function sharePost(postID, authorID, origin, source) {
            if ((origin !== source && authorID.toString() !== "{{ author.id }}") || source === null) {
                console.log("SHAREABLE")
                var csrf_token = "{{ csrf_token }}";
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    }
                });
                $.ajax({
                    type: "POST",
                    url: `/service/authors/{{ author.id }}/posts/`,
                    data: JSON.stringify({
                        'source': `${window.location.href}`,
                        'post_id': postID,
                    }),
                    contentType: 'application/json',
                    error: function (error) {
                        console.error(error);
                        alert("There was an error making your post, please try again")
                    }
                })
            } else {
                alert("You cannot share this post twice")
            }
        }
        
        function deletePost(id) {

            var csrf_token = "{{ csrf_token }}";
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
            $.ajax({
                type: "DELETE",
                url: `/service/authors/{{author.id}}/posts/${id}`,
                success: function (response, textStatus, http) {
                    if (http.status === 200) {
                        $(`#post-block-${id}`).remove()
                        postIDs = postIDs.filter(item => item[0] !== `${id}`);
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            })
        }

        //If the document is freshly loaded
        $(document).ready(function() {
            function initInbox() {
                $.ajax({
                    type: "GET",
                    url: "/api/get-old-inbox-info/",
                    dataType: 'json',
                    success: function (response, textStatus, http) {
                        if (http.status === 200) {
                            for (const post in response) {
                                console.log(response[post])
                                if (response[post]['type'] === 'post') {
                                    addPost(response[post])
                                } else {
                                    console.log("NOT POST")
                                }
                            }
                            oldPostsRetrieved = true
                        }
                    },
                    error: function (error) {
                        console.error(error);
                    }
                })
            }

            initInbox();
        })

        function retrievePosts() {
            if (oldPostsRetrieved) {
                $.ajax({
                    type: "GET",
                    url: "/api/get-new-inbox-info/",
                    dataType: 'json',
                    success: function (response, textStatus, http) {
                        if (http.status === 200) {
                            for (const post in response) {
                                if (response[post]['type'] === 'post') {
                                    addPost(response[post])
                                } else {
                                    console.log("NOT POST")
                                }
                            }
                        }
                    },
                    error: function (error) {
                        console.error(error);
                    }
                })
            }
        }
        setInterval(retrievePosts, 2000)

        function likePost(postID, authorID, origin) {
            var csrf_token = "{{ csrf_token }}";
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
            $.ajax({
                type: "POST",
                url: `/api/like-post/${postID}`,
                success: function (response, textStatus, http) {
                    if (http.status === 201) {
                        $(`#like-button-${postID}`).addClass('liked')
                        document.getElementById(`like-button-${postID}`).setAttribute('onclick', `unlikePost(${postID}, ${authorID}, '${origin}')`)
                        
                        updatePostData([[postID, authorID, origin]])
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            })
        }

        function unlikePost(postID, authorID, origin) {
            var csrf_token = "{{ csrf_token }}";
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
            $.ajax({
                type: "DELETE",
                url: `/api/unlike-post/${postID}`,
                success: function (response, textStatus, http) {
                    if (http.status === 200) {
                        $(`#like-button-${postID}`).removeClass('liked')
                        document.getElementById(`like-button-${postID}`).setAttribute('onclick', `likePost(${postID}, ${authorID}, '${origin}')`)
                        updatePostData([[postID, authorID, origin]])
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            })
        }

        function updateAllPosts() {
            updatePostData(postIDs)
        }
        setInterval(updateAllPosts, 2000) //2 second refresh

        function checkForDeletedPosts() {
            var csrf_token = "{{ csrf_token }}";
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
            $.ajax({
                type: "POST",
                url: `/api/get-deleted-posts/`,
                data: JSON.stringify({
                    'ids': postIDs,
                    'location': `${window.location.href}`
                }),
                contentType: 'application/json',
                success: function (response, textStatus, http) {
                    if (http.status === 200) {
                        for (const post in response) {
                            $(`#post-block-${response[post]}`).remove()
                            postIDs = postIDs.filter(item => item[0] !== `${response[post]}`);
                        }
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            })
        }
        setInterval(checkForDeletedPosts, 2000) //5 second refresh

        function updatePostData(postIDs) {
            var csrf_token = "{{ csrf_token }}";
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
            $.ajax({
                type: "POST",
                url: `/api/get-post-data/`,
                data: JSON.stringify({
                    'ids': postIDs,
                    'location': `${window.location.href}`
                }),
                contentType: 'application/json',
                success: function (response, textStatus, http) {
                    if (http.status === 200) {
                        for (const index in response) {
                            post = response[index] 
                            id = post['id'].split('/').at(-2)

                            if ($(`#like-button-${id}`).is(":visible")) {
                                authorId = post['author']['id'].split('/').at(-2)
                                document.getElementById(`like-button-${id}`).innerHTML = `${post['like-count']} <i class="fa-solid fa-heart"></i>`
                            
                                $(`#post-title-${id}`).text(post['title'])
                                $(`#post-description-${id}`).text(post['description'])
                                $(`#post-categories-${id}`).text(post['categories'])

                                if (post['contentType'] === 'image/jpeg;base64' || post['contentType'] === 'image/png;base64') {
                                    $(`#image-previews`).attr('src', post['content'])
                                } else {
                                    $(`#post-content-${id}`).text(post['content'])
                                }
                            }
                        }
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            })
        }
    </script>
{% endblock content %}