{% extends "main/header.html" %}
{% block content %}
    {% include 'main/includes/navbar.html' %}
    <div class="home-wrapper">
        <div class="left-bar">
            {% include 'main/includes/profilebar.html' %}
        </div>
        <div class="main-area">
            {% include 'main/includes/createpost.html' %}
            <div id="post-container">
                {% for post in posts %}
                    {% include 'main/includes/feedpost.html' with post=post %}
                {% endfor %}
            </div>
        </div>
        <div class="right-bar"></div>
    </div>

    <script>
        const feedContainer = document.getElementById("post-container");

        function addPost(post) {
            
            console.log(post)
            console.log("post-block-" + post.id)

            const postElement = document.createElement("div");
            postElement.classList.add("feed-post", "existing-post");
            postElement.id = "post-block-" + post[0];
            ostElement.setAttribute('data-post-id', post[0]);

            // Construct the post content using the provided data
            postElement.innerHTML = `
                <a href="/"><img src="../../../static/images/unknown_user.png" /></a>
                <div class="post-content">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                    <div class="post-body">
                        <p id="post-username">${post[1]}</p>
                        <time id="post-timestamp">${post[2]}</time>
                        <p id="post-content">${post[3]}</p>
                    </div>
                    <div class="post-btn-wrap">
                        <button type="button" class="btn btn-like"><i class="fa-solid fa-heart"></i>Like</button>
                        <button type="submit" class="btn btn-share"><i class="fa-solid fa-share"></i>Share</button>
                    </div>
                </div>
            `;

            // Get the container where you want to insert the new post
            feedContainer.insertBefore(postElement, feedContainer.firstChild);
            console.log("Post added", postElement)  
        }

        function retrievePosts() {
            $.ajax({
                type: "GET",
                url: "/api/get-new-available-posts/",
                success: function (response) {
                    // console.log("New posts coming in", response)
                    for (const post in response) {
                        addPost(response[post])
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            })
        }

        setInterval(retrievePosts, 5000)
    </script>
{% endblock content %}