{% extends "main/header.html" %}
{% block content %}
    {% include 'main/includes/navbar.html' %}
    <div class="home-wrapper">
        <div class="main-area">
            <div id="post-container">

            </div>
        </div>
    </div>

    <div id="delete-post-dialog" class="popup-modal">
        <p>Are you sure you want to permanantly delete this post?</p>
        <div class="button-wrap">
            <button id="confirm-delete-post-yes">Yes</button>
            <button id="confirm-delete-post-no">No</button>
        </div>
    </div>

    <script>
        const feedContainer = document.getElementById("post-container");
        var oldPostsRetrieved = false
        var postIDs = []
        var postNum = 0

        function getHostFromUrl(input) {
            var parts = input.split('/')
            var hostURL = `${parts.at(0)}//${parts.at(2)}/`
            return hostURL
        }

        function getAuth(input) {
            for (const item in hosts) {
                if (hosts[item][0] === input) {
                    return ["Authorization", "Basic " + btoa(hosts[item][1] + ":" + hosts[item][2])]
                    //{
                        //"Authorization": "Basic " + btoa(hosts[item][1] + ":" + hosts[item][2]),
                        //"Access-Control-Allow-Origin": '*',
                        //"Access-Control-Allow-Methods": 'POST, GET, OPTIONS, PUT, DELETE',
                        //"Access-Control-Allow-Headers": 'Content-Type, X-Auth-Token, Origin, Authorization'
                    //}
                }
            }
        }

        function addPost(post, likeCount, likedPost) {
            id = post['id'].split('/').at(-2)
            authorId = post['author']['id'].split('/').at(-2)
            postIDs.push([id, authorId, post['id']])
            id = postNum

            const postElement = document.createElement("div");
            postElement.classList.add("feed-post-wrapper", "existing-post");
            postElement.id = "post-block-" + id;
            postElement.setAttribute('data-post-id', id);

            if (post['source'] !== null) {
                shared = `<i style="height: 20px; width: 20px;" class="fa-solid fa-retweet"></i> `
            } else {
                shared = ``
            }

            if (post['unlisted'] === true) {
                unlisted = `<a href="/posts/${id}" style="color: #0D6EFD;"><p>URI for post - ${window.location.href}posts/${id}</p></a>`
            } else {
                unlisted = ``
            }

            var likeButton = ''
            if (likedPost) {
                likeButton = `<button type="button" class="btn btn-like liked" id="like-button-${id}" onclick="unlikePost(${id}, ${authorId}, '${post['author']['id']}', '${post['id']}')">${likeCount} <i class="fa-solid fa-heart"></i></button>`
            } else {
                likeButton = `<button type="button" class="btn btn-like" id="like-button-${id}" onclick="likePost(${id}, ${authorId}, '${post['author']['id']}', '${post['id']}')">${likeCount} <i class="fa-solid fa-heart"></i></button>`
            }

            if (authorId === "{{author.id}}") {
                deleteButton = `<button type="button" class="btn btn-off-white" id="delete-button-${id}" onclick="showDeleteConfirmation(${id})"><i class="fa-solid fa-trash"></i>Delete</button>`
            } else {
                deleteButton = ""
            }

            if (authorId === "{{author.id}}" && post['source'] === null) {
                dropdown = `<div class="dropdown-item" style="cursor: pointer" onclick="editPost(${id}, '${post['contentType']}')">Edit Post</div>`
            } else {
                dropdown = `<a class="dropdown-item" href="#">Non owner action</a>`
            }
            
            if (post['contentType'] === 'image/jpeg;base64' || post['contentType'] === 'image/png;base64') {
                content = `<p id="post-content-${id}"><img id="image-preview" src="${post['content']}" alt="img"></p>`
            } else {
                content = `<p id="post-content-${id}">${post['content']}</p>`
            }

            const timestamp = post['published'];
            const date = new Date(timestamp);

            const readableDate = date.toDateString();
            const readableTime = date.toLocaleTimeString();
            const postProfileImage = post['author']['profileImage'];

            if (postProfileImage !== null) {
                profileImage = postProfileImage;
            } else {
                profileImage = "../../../static/images/unknown_user.png";
            }

            // Construct the post content using the provided data
            postElement.innerHTML = `
                <div class="feed-post existing-post">
                    <img src="${profileImage}" class="profile-img" />
                    <div class="post-content">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-${id}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-ellipsis"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                ${dropdown}
                            </div>
                        </div>
                        <div class="post-body">
                            <p id="post-username-${id}">${shared}${post['author']['displayName']}</p>
                            <time id="post-timestamp-${id}">${readableDate} at ${readableTime}</time>
                            ${unlisted}
                            <p id="post-title-${id}">${post['title']}</p>
                            <p id="post-description-${id}">${post['description']}</p>
                            <p id="post-categories-${id}">${post['categories']}</p>
                            ${content}
                        </div>
                        <div class="flex-btn-wrap" id="flex-btn-wrap-${id}">
                            ${likeButton}
                            <button type="submit" id="share-button-${id}" onclick="sharePost(${id}, ${authorId}, '${post['origin']}', '${post['source']}')" class="btn btn-off-white"><i class="fa-solid fa-share"></i>Share</button>
                            ${deleteButton}
                        </div>
                    </div>
                </div>
                <div class="post-comment-content" id="post-comment-container-${id}">
                    <div class="post-comment-input-wrapper">
                        <input type="text" id="post-comment-input-${id}" placeholder="Comment" class="form-control" value="">
                        <div class="flex-btn-wrap">
                            <button type="button" id="comment-button-${id}" onclick="postComment('${id}', '${post['id']}', '${post['author']['id']}')" class="btn btn-off-white"><i class="fa-solid fa-comment"></i>Comment</button>
                        </div>
                    </div>
                </div>
            `;

            // Get the container where you want to insert the new post
            if (feedContainer.firstChild) {
                feedContainer.insertBefore(postElement, feedContainer.firstChild);
            } else {
                feedContainer.appendChild(postElement)
            }

            postNum = postNum + 1

            return id
        }

        addPost(JSON.parse("{{ post | escapejs }}"))

        function editPost(id, contentType) {
            if ($(`#like-button-${id}`).hasClass('hide') === false) {
                contentText = $(`#post-content-${id}`).text()
                titleText = $(`#post-title-${id}`).text()
                descriptionText = $(`#post-description-${id}`).text()
                categoriesText = $(`#post-categories-${id}`).text()

                $(`#post-title-${id}`).text("")
                $(`#post-description-${id}`).text("")
                $(`#post-categories-${id}`).text("")
                $(`#post-content-${id}`).text("")

                titleBox = `<input type="text" id="edit-post-title-${id}" class="form-control" value="">`
                descriptionBox = `<input type="text" id="edit-post-description-${id}" class="form-control" value="">`
                categoriesBox = `<input type="text" id="edit-post-categories-${id}" class="form-control" value="">`
                
                contentBox = ``
                if (contentType === 'text/plain' || contentType === 'text/markdown') {
                    contentBox = `<input type="text" id="edit-post-content-${id}" class="form-control" value="">`
                    $(`#post-content-${id}`).append(contentBox)
                    $(`#edit-post-content-${id}`).val(contentText)
                }

                $(`#post-title-${id}`).append(titleBox)
                $(`#post-description-${id}`).append(descriptionBox)
                $(`#post-categories-${id}`).append(categoriesBox)
                $(`#edit-post-title-${id}`).val(titleText)
                $(`#edit-post-description-${id}`).val(descriptionText)
                $(`#edit-post-categories-${id}`).val(categoriesText)

                saveButton = `<button type="button" class="btn btn-save" id="save-button-${id}" onclick="saveEditPost(${id}, '${contentType}')"><i class="fa-solid fa-check"></i>Save</button>`
                cancelButton = `<button type="button" class="btn btn-cancel" id="cancel-button-${id}" onclick="cancelEditPost(${id}, '${titleText}', '${descriptionText}', '${categoriesText}', '${contentText}', '${contentType}')"><i class="fa-solid fa-xmark"></i>Cancel</button>`
                $(`#flex-btn-wrap-${id}`).append(saveButton)
                $(`#flex-btn-wrap-${id}`).append(cancelButton)
                
                $(`#like-button-${id}`).addClass('hide')
                $(`#share-button-${id}`).addClass('hide')
                $(`#delete-button-${id}`).addClass('hide')
                $(".dropdown-menu").removeClass('show');
            }
        }

        function saveEditPost(id, contentType) {
            contentText = $(`#edit-post-content-${id}`).val()
            titleText = $(`#edit-post-title-${id}`).val()
            descriptionText = $(`#edit-post-description-${id}`).val()
            categoriesText = $(`#edit-post-categories-${id}`).val()


            if (titleText.length > 200 || descriptionText.length > 200 || categoriesText.length > 200) {
                alert("Title/Description/Categories must all be < 200 characters")
            } else {
                authorID = "{{author.id}}"
                var csrf_token = "{{ csrf_token }}";
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    }
                });
                creds = getAuth(window.location.href)
                $.ajax({
                    type: "POST",
                    url: `/authors/${authorID}/posts/${id}/`,
                    contentType: 'application/json',
                    data: JSON.stringify({
                        'title': titleText,
                        'description': descriptionText,
                        'categories': categoriesText,
                        'content': contentText,
                    }),
                    headers: { "X-CSRFToken": '{{csrf_token}}' },
                    beforeSend: function (request)
                    {
                        request.withCredentials = true;
                        request.setRequestHeader(creds[0], creds[1]);
                    },
                    //headers: getAuth(window.location.href),
                    success: function (response, textStatus, http) {
                        if (http.status === 200) {
                            $(`#save-button-${id}`).remove()
                            $(`#cancel-button-${id}`).remove()
                            $(`#edit-post-text-${id}`).remove()
                            $(`#post-title-${id}`).text(titleText)
                            $(`#post-description-${id}`).text(descriptionText)
                            $(`#post-categories-${id}`).text(categoriesText)
                            $(`#post-content-${id}`).text(contentText)

                            $(`#like-button-${id}`).removeClass('hide')
                            $(`#share-button-${id}`).removeClass('hide')
                            $(`#delete-button-${id}`).removeClass('hide')
                        }
                    },
                    error: function (error) {
                        console.error(error);
                    }
                })
            }
        }

        function cancelEditPost(id, titleText, descriptionText, categoriesText, contentText, contentType) {
            $(`#post-title-${id}`).show()
            $(`#post-description-${id}`).show()
            $(`#post-categories-${id}`).show()
            $(`#post-content-${id}`).show()

            $(`#edit-post-title-${id}`).remove()
            $(`#edit-post-description-${id}`).remove()
            $(`#edit-post-categories-${id}`).remove()
            $(`#edit-post-content-${id}`).remove()

            $(`#post-title-${id}`).text(titleText)
            $(`#post-description-${id}`).text(descriptionText)
            $(`#post-categories-${id}`).text(categoriesText)
            $(`#post-content-${id}`).text(contentText)

            $(`#save-button-${id}`).remove()
            $(`#cancel-button-${id}`).remove()

            $(`#like-button-${id}`).removeClass('hide')
            $(`#share-button-${id}`).removeClass('hide')
            $(`#delete-button-${id}`).removeClass('hide')
        }

        function showDeleteConfirmation(postID) {
            // Set a global variable to store the post ID to be deleted
            window.postToDelete = postID;

            // Show the custom confirmation dialog
            $("#delete-post-dialog").addClass("show");
            $("body").toggleClass("has-popup-modal");
        }

        $("#confirm-delete-post-yes").click(function() {
            // Execute the post deletion logic when the user clicks "Yes"
            deletePost(window.postToDelete);
            $("#delete-post-dialog").removeClass("show");
            $("body").toggleClass("has-popup-modal");
        });

        $("#confirm-delete-post-no").click(function() {
            // Cancel the post deletion action when the user clicks "No"
            $("#delete-post-dialog").removeClass("show");
            $("body").toggleClass("has-popup-modal");
        });

        function deletePost(id) {

            var csrf_token = "{{ csrf_token }}";
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
            creds = getAuth(window.location.href)
            $.ajax({
                type: "DELETE",
                url: `/authors/{{author.id}}/posts/${id}`,
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                beforeSend: function (request)
                {
                    request.withCredentials = true;
                    request.setRequestHeader(creds[0], creds[1]);
                },
                //headers: getAuth(window.location.href),
                success: function (response, textStatus, http) {
                    if (http.status === 200) {
                        window.location.href = "/"
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            })
        }

        function likePost(postID, authorID, origin) {
            var csrf_token = "{{ csrf_token }}";
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
            creds = getAuth(window.location.href)
            $.ajax({
                type: "POST",
                url: `/api/like-post/${postID}`,
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                beforeSend: function (request)
                {
                    request.withCredentials = true;
                    request.setRequestHeader(creds[0], creds[1]);
                },
                //headers: getAuth(window.location.href),
                success: function (response, textStatus, http) {
                    if (http.status === 201) {
                        $(`#like-button-${postID}`).addClass('liked')
                        document.getElementById(`like-button-${postID}`).setAttribute('onclick', `unlikePost(${postID}, ${authorID}, '${origin}')`)
                        
                        updatePostData([[postID, authorID, origin]])
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            })
        }

        function unlikePost(postID, authorID, origin) {
            var csrf_token = "{{ csrf_token }}";
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
            creds = getAuth(window.location.href)
            $.ajax({
                type: "DELETE",
                url: `/api/unlike-post/${postID}`,
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                beforeSend: function (request)
                {
                    request.withCredentials = true;
                    request.setRequestHeader(creds[0], creds[1]);
                },
                //headers: getAuth(window.location.href),
                success: function (response, textStatus, http) {
                    if (http.status === 200) {
                        $(`#like-button-${postID}`).removeClass('liked')
                        document.getElementById(`like-button-${postID}`).setAttribute('onclick', `likePost(${postID}, ${authorID}, '${origin}')`)
                        
                        updatePostData([[postID, authorID, origin]])
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            })
        }

        function updatePost() {
            updatePostData(postIDs)
        }
        setInterval(updatePost, 2000) //2 second refresh

        function checkForDeletedPosts() {

            url = new URL(window.location.href)
            if (url.port !== '') {
                loc = url.protocol + '//' + url.hostname + ':' + url.port + '/'
            } else {
                loc = url.protocol + '//' + url.hostname + '/'
            }

            var csrf_token = "{{ csrf_token }}";
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
            creds = getAuth(window.location.href)
            $.ajax({
                type: "POST",
                url: `/api/get-deleted-posts/`,
                data: JSON.stringify({
                    'ids': postIDs,
                    'location': loc
                }),
                contentType: 'application/json',
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                beforeSend: function (request)
                {
                    request.withCredentials = true;
                    request.setRequestHeader(creds[0], creds[1]);
                },
                //headers: getAuth(window.location.href),
                success: function (response, textStatus, http) {
                    if (http.status === 200) {
                        for (const post in response) {
                            window.location.href = "/"
                        }
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            })
        }
        setInterval(checkForDeletedPosts, 2000) //2 second refresh

        function updatePostData(postIDs) {

            url = new URL(window.location.href)
            if (url.port !== '') {
                loc = url.protocol + '//' + url.hostname + ':' + url.port + '/'
            } else {
                loc = url.protocol + '//' + url.hostname + '/'
            }

            var csrf_token = "{{ csrf_token }}";
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
            creds = getAuth(window.location.href)
            $.ajax({
                type: "POST",
                url: `/api/get-post-data/`,
                data: JSON.stringify({
                    'ids': postIDs,
                    'location': loc
                }),
                contentType: 'application/json',
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                beforeSend: function (request)
                {
                    request.withCredentials = true;
                    request.setRequestHeader(creds[0], creds[1]);
                },
                //headers: getAuth(window.location.href),
                success: function (response, textStatus, http) {
                    if (http.status === 200) {
                        for (const index in response) {
                            post = response[index] 
                            id = post['id'].split('/').at(-2)

                            if ($(`#like-button-${id}`).is(":visible")) {
                                authorId = post['author']['id'].split('/').at(-2)
                                document.getElementById(`like-button-${id}`).innerHTML = `${post['like-count']} <i class="fa-solid fa-heart"></i>`
                            
                                $(`#post-title-${id}`).text(post['title'])
                                $(`#post-description-${id}`).text(post['description'])
                                $(`#post-categories-${id}`).text(post['categories'])

                                if (post['contentType'] === 'image/jpeg;base64' || post['contentType'] === 'image/png;base64') {
                                    $(`#image-previews`).attr('src', post['content'])
                                } else {
                                    $(`#post-content-${id}`).text(post['content'])
                                }
                            }
                        }
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            })
        }
    </script>
{% endblock content %}